name: generate_reports

on:
  workflow_run:
    workflows: ["RunTests"]
    branches: [main,master]
    types: 
      - completed
  workflow_dispatch:   

jobs:
      Generate-Reports:
        runs-on: self-hosted  
        steps:
            - name: Parse the Unit test results
              uses: NasAmin/trx-parser@v0.1.0
              id: trx-parser
              with:
                TRX_PATH: C:\Work\WUG\Main\Source\DevBuildTools\UnitTests\TestResults
                REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                IGNORE_FAILURE: true
              continue-on-error: true  
      
            - name: Download CodeCoverage Report
              uses: actions/upload-artifact@v2
              with:
                 name: CodeCoverage
                 path: C:\Work\WUG\Main\Source\DevBuildTools\UnitTests\CoverageReport.html
