name: RunTests

on:
  repository_dispatch:
    types: [RunTests]
      
jobs:  
  TestsExecution:
    runs-on: self-hosted 
    steps:       
    - name: Run Unit Tests
      working-directory: C:\work\WUG\Main\Source\DevBuildTools
      shell: cmd
      run: RunTests.bat
    
    - name: Generate unit test reports
      working-directory: C:\work\WUG\Main\Source\DevBuildTools\UnitTests
      shell: cmd
      run: generate_report.bat  
   
  TestReports:
     needs: [TestsExecution]
     runs-on: self-hosted  
     steps:   
      - name: Parse the Unit test results
        uses: NasAmin/trx-parser@v0.0.5
        id: trx-parser
        with:
          TRX_PATH: C:\Work\WUG\Main\Source\DevBuildTools\UnitTests\TestResults
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IGNORE_FAILURE: false
        
      
      - name: Download CodeCoverage Report
        uses: actions/upload-artifact@v2
        with:
         name: CodeCoverage
         path: C:\Work\WUG\Main\Source\DevBuildTools\UnitTests\CoverageReport.html
