name: RunTests

on:
  workflow_run:
    workflows: ["DevBuild"]
    branches: [main]
    types: 
      - completed
      
jobs:
  
  TestsExecution:
    runs-on: self-hosted 
    steps:   
    - name: Check Build status
      id: BuildStatus
      working-directory: C:\work\WUG\Main\Source\DevBuildTools
      shell: cmd
      run: findstr -ri abort DevBuild.log>output & if %errorlevel% EQU 0 (exit 1) else (exit 0)
 
#     - name: Check Build status
#       id: BuildStatus
#       working-directory: C:\work\WUG\Main\Source\DevBuildTools
#       shell: cmd  
#       run: findstr -ri abort DevBuild.log
#       continue-on-error: true

#     - name: Abort if Build not successful
#       if: steps.BuildStatus.status == success() 
#       run: exit 1
      
    - name: Run Unit Tests
      working-directory: C:\work\WUG\Main\Source\DevBuildTools
      shell: cmd
      run: RunTests.bat
      
      
  TestReports:
     needs: [TestsExecution]
     runs-on: self-hosted  
     steps:  
      - name: Generate unit test reports
        working-directory: C:\work\WUG\Main\Source\DevBuildTools\UnitTests
        shell: cmd
        run: generate_report.bat
      
      - name: Parse the Unit test results
        uses: NasAmin/trx-parser@v0.1.0
        id: trx-parser
        with:
          TRX_PATH: C:\Work\WUG\Main\Source\DevBuildTools\UnitTests\TestResults
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IGNORE_FAILURE: true
        continue-on-error: true  
      
      - name: Download CodeCoverage Report
        uses: actions/upload-artifact@v2
        with:
         name: CodeCoverage
         path: C:\Work\WUG\Main\Source\DevBuildTools\UnitTests\CoverageReport.html
